*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    text-align: center;
}
body{
    margin: 0;
    
    background: rgb(254,203,203);
    background: radial-gradient(circle, rgba(254,203,203,1) 0%, rgba(114,179,255,1) 100%);

}

.form-check {
    padding-left: 0;
}

.form_btn{
    margin: 50px 0;
   

}

form{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

label{
    padding-top: 20px;
    
}